In [2]:
import pandas as pd

In [3]:
pg_novelty = pd.read_csv("/homefs/home/robins21/fold_seek_results_/scoring/proteingenerator_100_200_300_novelty_score.csv")

In [4]:
pg_novelty.describe()

,Unnamed: 0,tm1,tm5,tm10,e1,e5,e
count,249.000000,249.000000,249.000000,249.000000,249.000000,249.00000,249.000000
mean,124.000000,0.763414,0.732849,0.714912,0.609081,0.58833,0.576670
std,72.024301,0.071944,0.070781,0.070219,0.066731,0.05981,0.055315
min,0.000000,0.597700,0.545060,0.527830,0.500900,0.50090,0.500900
25%,62.000000,0.706200,0.680500,0.661880,0.554600,0.54218,0.532800
50%,124.000000,0.758700,0.726540,0.707780,0.598100,0.57796,0.566900
75%,186.000000,0.820900,0.778780,0.756090,0.648900,0.62404,0.605360
max,248.000000,0.924400,0.917260,0.911990,0.804600,0.77490,0.751670

In [5]:
ppd_novelty = pd.read_csv("/homefs/home/robins21/fold_seek_results_/scoring/protpardelle_samples_100_200_300_samp_novelty_score.csv")

In [6]:
ppd_novelty.describe()

,Unnamed: 0,tm1,tm5,tm10,e1,e5,e
count,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000
mean,127.000000,0.715186,0.694379,0.683718,0.593016,0.579281,0.573528
std,73.756356,0.045526,0.046157,0.047925,0.051297,0.046404,0.044761
min,0.000000,0.558500,0.552400,0.534530,0.500600,0.500600,0.500600
25%,63.500000,0.682900,0.663580,0.651780,0.550300,0.536710,0.532770
50%,127.000000,0.717600,0.698600,0.688470,0.597900,0.586440,0.576640
75%,190.500000,0.749500,0.729890,0.720270,0.631300,0.616670,0.610590
max,254.000000,0.809200,0.787960,0.786540,0.718100,0.695840,0.687200

In [7]:
import glob
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2*novelty*")
csvs = list(filter(lambda x: "filtered" not in x, csvs))
print(len(csvs))
print(csvs)

3
['/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_148_novelty_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_100_novelty_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_48_novelty_score.csv']

In [8]:
plaid_novelties = {}
for x in csvs:
    plaid_novelties[x] = pd.read_csv(x)

In [9]:
big_df = pd.concat(list(plaid_novelties.values()))

In [10]:
big_df.describe()

,Unnamed: 0,tm1,tm5,tm10,e1,e5,e
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000
mean,44.157895,0.832536,0.814294,0.803260,0.704248,0.690146,0.680850
std,26.212871,0.098289,0.103400,0.106976,0.115085,0.113856,0.112080
min,0.000000,0.587500,0.552533,0.552533,0.502500,0.502500,0.502500
25%,22.000000,0.765275,0.746305,0.722082,0.604425,0.587595,0.577157
50%,44.000000,0.844500,0.829790,0.819945,0.703650,0.679940,0.670480
75%,66.000000,0.912175,0.897370,0.890000,0.793575,0.783960,0.772768
max,98.000000,0.974000,0.971340,0.969010,0.956900,0.933180,0.926970

In [11]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_*novelty*.csv")
csvs = list(filter(lambda x: "filtered" not in x, csvs))
print(len(csvs))
print(csvs)

3
['/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_maxlen256_novelty_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_maxlen128_novelty_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_maxlen64_novelty_score.csv']

In [12]:
natural_novelties = {}
for x in csvs:
    natural_novelties[x] = pd.read_csv(x)

In [13]:
natural_df = pd.concat(list(natural_novelties.values()))

In [14]:
natural_df.describe()

,Unnamed: 0,tm1,tm5,tm10,e1,e5,e
count,3075.000000,3075.000000,3075.000000,3075.000000,3075.000000,3075.000000,3075.000000
mean,513.567154,0.884916,0.861195,0.842373,0.727813,0.692170,0.673757
std,298.692114,0.078152,0.088367,0.095481,0.111729,0.108357,0.104732
min,0.000000,0.538000,0.531367,0.531367,0.500100,0.500100,0.500100
25%,256.000000,0.844250,0.810980,0.789018,0.640200,0.599100,0.584465
50%,512.000000,0.905000,0.882740,0.860200,0.728900,0.689660,0.665070
75%,768.000000,0.945000,0.929790,0.916670,0.815700,0.772070,0.747670
max,1102.000000,0.993500,0.987980,0.987420,0.987500,0.974260,0.973230

In [15]:
import glob
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2*novelty*")
csvs = list(filter(lambda x: "filtered" in x, csvs))
print(len(csvs))
print(csvs)

plaid_filtered_novelties = {}
for x in csvs:
    plaid_filtered_novelties[x] = pd.read_csv(x)

plaid_filtered_df = pd.concat(list(plaid_filtered_novelties.values()))
plaid_filtered_df.describe()

3
['/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_filtered_48_novelty_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_filtered_148_novelty_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_filtered_100_novelty_score.csv']

,Unnamed: 0,tm1,tm5,tm10,e1,e5,e
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,25.285714,0.893133,0.877377,0.867952,0.764412,0.749024,0.738554
std,16.107090,0.058387,0.063288,0.067958,0.092216,0.092311,0.091918
min,0.000000,0.649200,0.625760,0.605520,0.557100,0.549767,0.549767
25%,12.000000,0.850450,0.834120,0.821965,0.687500,0.674380,0.663450
50%,24.000000,0.904500,0.888940,0.879290,0.769500,0.757580,0.749450
75%,37.500000,0.939050,0.924230,0.917990,0.837450,0.827300,0.813120
max,60.000000,0.974000,0.971340,0.969010,0.956900,0.933180,0.926970

In [16]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_*novelty*.csv")
csvs = list(filter(lambda x: "filtered" in x, csvs))
print(len(csvs))
print(csvs)

natural_novelties = {}
for x in csvs:
    natural_novelties[x] = pd.read_csv(x)

natural_df = pd.concat(list(natural_novelties.values()))
natural_df.describe()

4
['/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_filtered_maxlen512_novelty_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_filtered_maxlen256_novelty_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_filtered_maxlen128_novelty_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_filtered_maxlen64_novelty_score.csv']

,Unnamed: 0,tm1,tm5,tm10,e1,e5,e
count,3531.000000,3531.000000,3531.000000,3531.000000,3531.000000,3531.000000,3531.000000
mean,476.469555,0.885487,0.862356,0.843832,0.735295,0.701712,0.683781
std,298.427069,0.077142,0.087119,0.093809,0.112336,0.110355,0.107324
min,0.000000,0.538000,0.531367,0.531367,0.500100,0.500100,0.500100
25%,220.000000,0.844850,0.813490,0.792235,0.647300,0.607360,0.591015
50%,441.000000,0.905700,0.884160,0.861810,0.738700,0.701900,0.677620
75%,730.000000,0.944700,0.929230,0.915370,0.824150,0.785770,0.763945
max,1102.000000,0.993500,0.988520,0.987420,0.987500,0.974260,0.973230

# Multiflow

In [20]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/multiflow_100_200_300_*novelty*.csv")
csvs = list(filter(lambda x: "filtered" in x, csvs))
print(len(csvs))
print(csvs)

natural_novelties = {}
for x in csvs:
    natural_novelties[x] = pd.read_csv(x)

natural_df = pd.concat(list(natural_novelties.values()))
natural_df.describe()

1
['/homefs/home/robins21/fold_seek_results_/scoring/multiflow_100_200_300_organized_filtered_novelty_score.csv']

,Unnamed: 0,tm1,tm5,tm10,e1,e5,e
count,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000
mean,96.500000,0.755367,0.726179,0.707614,0.591126,0.572932,0.563034
std,56.147128,0.067957,0.064754,0.064158,0.063308,0.056829,0.052212
min,0.000000,0.570200,0.566200,0.552970,0.500600,0.500600,0.500600
25%,48.250000,0.702800,0.678725,0.664233,0.547625,0.530360,0.522775
50%,96.500000,0.750950,0.722430,0.704140,0.575750,0.559270,0.549435
75%,144.750000,0.796350,0.763005,0.744115,0.627775,0.600405,0.590067
max,193.000000,0.950800,0.917860,0.900030,0.837200,0.784760,0.771610

In [21]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/multiflow_100_200_300_*novelty*.csv")
csvs = list(filter(lambda x: "filtered" not in x, csvs))
print(len(csvs))
print(csvs)

natural_novelties = {}
for x in csvs:
    natural_novelties[x] = pd.read_csv(x)

natural_df = pd.concat(list(natural_novelties.values()))
natural_df.describe()

1
['/homefs/home/robins21/fold_seek_results_/scoring/multiflow_100_200_300_organized_novelty_score.csv']

,Unnamed: 0,tm1,tm5,tm10,e1,e5,e
count,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000
mean,109.000000,0.753134,0.724849,0.706576,0.590297,0.572308,0.562632
std,63.364028,0.065580,0.062198,0.061682,0.060666,0.054681,0.050352
min,0.000000,0.570200,0.566200,0.552970,0.500600,0.500600,0.500600
25%,54.500000,0.701350,0.680010,0.664855,0.549950,0.532590,0.524143
50%,109.000000,0.749100,0.722900,0.704540,0.576600,0.560740,0.551533
75%,163.500000,0.789800,0.759050,0.741520,0.622500,0.599350,0.589805
max,218.000000,0.950800,0.917860,0.900030,0.837200,0.784760,0.771610

In [25]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/multiflow_100_200_300_*diversity*.csv")
csvs = list(filter(lambda x: "filtered" in x, csvs))
print(len(csvs))
print(csvs)
tmp = pd.read_csv(csvs[0])
tmp

1
['/homefs/home/robins21/fold_seek_results_/scoring/multiflow_100_200_300_organized_filtered_diversity_score.csv']

                                               input  nclusters  nsamples
0  /data/lux70/plaid/baselines/multiflow/100_200_...        219       261

In [26]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/multiflow_100_200_300_*diversity*.csv")
csvs = list(filter(lambda x: "filtered" not in x, csvs))
print(len(csvs))
print(csvs)
tmp = pd.read_csv(csvs[0])
tmp

1
['/homefs/home/robins21/fold_seek_results_/scoring/multiflow_100_200_300_organized_diversity_score.csv']

                                               input  nclusters  nsamples
0  /data/lux70/plaid/baselines/multiflow/100_200_...        247       300

# diversity

In [30]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_*diversity*.csv")
csvs = list(filter(lambda x: "filtered" in x, csvs))
print(len(csvs))
print(csvs)

all_dfs = {}
for x in csvs:
    tmp = pd.read_csv(x)
    print(tmp)
    all_dfs[x] = tmp
# natural_novelties = {}
# for x in csvs:
#     natural_novelties[x] = pd.read_csv(x)

# natural_df = pd.concat(list(natural_novelties.values()))
# natural_df.describe()

4
['/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_filtered_maxlen128_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_filtered_maxlen512_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_filtered_maxlen256_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_filtered_maxlen64_diversity_score.csv']
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/natural//maxlen128...        531      1300
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/natural//maxlen512...        172       494
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/natural//maxlen256...        453      1109
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/natural//maxlen64/...        482      1315

In [35]:
all_div_natural = pd.concat(all_dfs.values())
all_div_natural

                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/natural//maxlen128...        531      1300
0  /data/lux70/plaid/artifacts/natural//maxlen512...        172       494
0  /data/lux70/plaid/artifacts/natural//maxlen256...        453      1109
0  /data/lux70/plaid/artifacts/natural//maxlen64/...        482      1315

In [36]:
all_div_natural.sum()

input        /data/lux70/plaid/artifacts/natural//maxlen128...
nclusters                                                 1638
nsamples                                                  4218
dtype: object

# div natural unfiltered

In [37]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_*diversity*.csv")
csvs = list(filter(lambda x: "filtered" not in x, csvs))
print(len(csvs))
print(csvs)

all_dfs = {}
for x in csvs:
    tmp = pd.read_csv(x)
    print(tmp)
    all_dfs[x] = tmp
# natural_novelties = {}
# for x in csvs:
#     natural_novelties[x] = pd.read_csv(x)

# natural_df = pd.concat(list(natural_novelties.values()))
# natural_df.describe()

all_div_natural = pd.concat(all_dfs.values())
all_div_natural.sum()

4
['/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_maxlen256_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_maxlen64_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_maxlen128_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_natural_maxlen512_diversity_score.csv']
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/natural//maxlen256...        454      1111
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/natural//maxlen64/...        482      1315
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/natural//maxlen128...        531      1300
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/natural//maxlen512...        172       494

input        /data/lux70/plaid/artifacts/natural//maxlen256...
nclusters                                                 1639
nsamples                                                  4220
dtype: object

In [ ]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/artifacts_*diversity*.csv")
csvs = list(filter(lambda x: "filtered" in x, csvs))
print(len(csvs))
print(csvs)

all_dfs = {}
for x in csvs:
    tmp = pd.read_csv(x)
    print(tmp)
    all_dfs[x] = tmp
# natural_novelties = {}
# for x in csvs:
#     natural_novelties[x] = pd.read_csv(x)

# natural_df = pd.concat(list(natural_novelties.values()))
# natural_df.describe()

# plaid div filtered

In [38]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_*diversity*.csv")
csvs = list(filter(lambda x: "filtered" in x, csvs))
print(len(csvs))
print(csvs)

all_dfs = {}
for x in csvs:
    tmp = pd.read_csv(x)
    print(tmp)
    all_dfs[x] = tmp
# natural_novelties = {}
# for x in csvs:
#     natural_novelties[x] = pd.read_csv(x)

# natural_df = pd.concat(list(natural_novelties.values()))
# natural_df.describe()

all_div_plaid = pd.concat(all_dfs.values())
all_div_plaid.sum()

3
['/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_filtered_48_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_filtered_148_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_filtered_100_diversity_score.csv']
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/samples/5j007z42/1...         33        55
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/samples/5j007z42/1...         22        61
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/samples/5j007z42/1...         23        36

input        /data/lux70/plaid/artifacts/samples/5j007z42/1...
nclusters                                                   78
nsamples                                                   152
dtype: object

In [39]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_*diversity*.csv")
csvs = list(filter(lambda x: "filtered" not in x, csvs))
print(len(csvs))
print(csvs)

all_dfs = {}
for x in csvs:
    tmp = pd.read_csv(x)
    print(tmp)
    all_dfs[x] = tmp
# natural_novelties = {}
# for x in csvs:
#     natural_novelties[x] = pd.read_csv(x)

# natural_df = pd.concat(list(natural_novelties.values()))
# natural_df.describe()

all_div_plaid = pd.concat(all_dfs.values())
all_div_plaid.sum()

3
['/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_148_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_100_diversity_score.csv', '/homefs/home/robins21/fold_seek_results_/scoring/artifacts_samples_5j007z42_100_200_300_v2_48_diversity_score.csv']
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/samples/5j007z42/1...         76       128
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/samples/5j007z42/1...        109       128
                                               input  nclusters  nsamples
0  /data/lux70/plaid/artifacts/samples/5j007z42/1...        100       128

input        /data/lux70/plaid/artifacts/samples/5j007z42/1...
nclusters                                                  285
nsamples                                                   384
dtype: object

# baselines no filter

In [40]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/protpardelle_samples_100_200_300_samp*diversity*.csv")
csvs = list(filter(lambda x: "filtered" not in x, csvs))
print(len(csvs))
print(csvs)

all_dfs = {}
for x in csvs:
    tmp = pd.read_csv(x)
    print(tmp)
    all_dfs[x] = tmp
# natural_novelties = {}
# for x in csvs:
#     natural_novelties[x] = pd.read_csv(x)

# natural_df = pd.concat(list(natural_novelties.values()))
# natural_df.describe()

all_div_plaid = pd.concat(all_dfs.values())
all_div_plaid.sum()

1
['/homefs/home/robins21/fold_seek_results_/scoring/protpardelle_samples_100_200_300_samp_diversity_score.csv']
                                               input  nclusters  nsamples
0  /data/lux70/plaid/baselines/protpardelle/sampl...        177       300

input        /data/lux70/plaid/baselines/protpardelle/sampl...
nclusters                                                  177
nsamples                                                   300
dtype: object

In [41]:
csvs = glob.glob("/homefs/home/robins21/fold_seek_results_/scoring/proteingenerator*diversity*.csv")
csvs = list(filter(lambda x: "filtered" not in x, csvs))
print(len(csvs))
print(csvs)

all_dfs = {}
for x in csvs:
    tmp = pd.read_csv(x)
    print(tmp)
    all_dfs[x] = tmp
# natural_novelties = {}
# for x in csvs:
#     natural_novelties[x] = pd.read_csv(x)

# natural_df = pd.concat(list(natural_novelties.values()))
# natural_df.describe()

all_div_plaid = pd.concat(all_dfs.values())
all_div_plaid.sum()

1
['/homefs/home/robins21/fold_seek_results_/scoring/proteingenerator_100_200_300_diversity_score.csv']
                                               input  nclusters  nsamples
0  /data/lux70/plaid/baselines/proteingenerator/1...        219       300

input        /data/lux70/plaid/baselines/proteingenerator/1...
nclusters                                                  219
nsamples                                                   300
dtype: object

# sequence diversity

In [2]:
import pandas as pd

path = "/data/mahajs17/PLAID/mmseqs_clustering_results.csv"
df = pd.read_csv(path)

In [8]:
df

,Run,N_generated,cluster_SI25,cluster_SI50,cluster_SI80
0,natural/maxlen64/generated,1315,1247,1253,1303
1,natural/maxlen512/generated,494,457,474,494
2,natural/maxlen256/generated,1111,1019,1052,1106
3,natural/maxlen128/generated,1300,1238,1256,1299
4,samples/5j007z42/100_200_300_v2/48/generated,128,126,128,128
5,samples/5j007z42/100_200_300_v2/100/generated,128,127,128,128
6,samples/5j007z42/100_200_300_v2/148/generated,128,117,120,128
7,baselines/protpardelle/samples_100_200_300/gen...,300,299,300,300
8,baselines/proteingenerator/100_200_300/generated,300,292,299,299
9,baselines/multiflow/100_200_300_organized/gene...,300,297,300,300

In [7]:
tmp = df[df.Run.str.contains("natural")]
tmp.sum()

Run             natural/maxlen64/generatednatural/maxlen512/ge...
N_generated                                                  4220
cluster_SI25                                                 3961
cluster_SI50                                                 4035
cluster_SI80                                                 4202
dtype: object

In [9]:
tmp = df[df.Run.str.contains("5j007z42")]
tmp.sum()

Run             samples/5j007z42/100_200_300_v2/48/generatedsa...
N_generated                                                   384
cluster_SI25                                                  370
cluster_SI50                                                  376
cluster_SI80                                                  384
dtype: object