In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("/data/lux70/data/pfam/organism_counts.csv")
df

      organism_index organism_id   counts
0                  0       SYNS9     2126
1                  1       SCHAZ     4805
2                  2       9ENTE   108317
3                  3       APHAT    14121
4                  4       9GAMM  2601336
...              ...         ...      ...
3612            3612        SCSV        1
3613            3613       DHBV1        1
3614            3614       CTFVL        1
3615            3615       MYRV9        1
3616            3616       PVCV2        1

[3617 rows x 3 columns]

In [15]:
organisms = ["BOVIN",
"CHICK",
"ECOLI",
"HORSE",
"HUMAN",
"MAIZE",
"MOUSE",
"PEA",
"PIG",
"RABIT",
"RAT",
"SHEEP",
"SOYBN",
"TOBAC",
"WHEAT",
"YEAST"]

In [19]:
interest = []

for org in organisms:
    try:
        idx  = df[df.organism_id == org].organism_index.values[0]
        print(org, idx)
        interest.append(idx)
    except IndexError:
        print("Error!!!", org)
        continue

BOVIN 758
CHICK 1411
ECOLI 2436
HORSE 158
HUMAN 1326
MAIZE 1294
MOUSE 300
Error!!! PEA
PIG 799
RABIT 1265
RAT 716
SHEEP 333
SOYBN 1357
TOBAC 1388
WHEAT 1452
YEAST 818

In [26]:
print(",".join([str(i) for i in interest]))

758,1411,2436,158,1326,1294,300,799,1265,716,333,1357,1388,1452,818

In [23]:
df[df.organism_index.isin(interest)]

      organism_index organism_id  counts
158              158       HORSE    8869
300              300       MOUSE    9925
333              333       SHEEP    5570
716              716         RAT   14312
758              758       BOVIN    3641
799              799         PIG   10980
818              818       YEAST    4749
1265            1265       RABIT   14631
1294            1294       MAIZE   18677
1326            1326       HUMAN    5670
1357            1357       SOYBN   19846
1388            1388       TOBAC   22375
1411            1411       CHICK    6916
1452            1452       WHEAT   35054
2436            2436       ECOLI    1348